.container-fluid{
    min-height: 100vh;
    .row{
        height: auto;
        .col{
            .card{
                height: 400px;
                background-color: rgb(69, 69, 78);
                &-body{
                  p{
                    font-size: 18px;
                    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                  }
                }
            }
        }
    }
}