.container-fluid{
    .row{
        .card{
            height: 450px;
            &-body{
                .imdb-rating{
                    background-color:rgb(240, 240, 14);
                    padding: 3px;
                    border-radius: 5px;
                }
                p{
                    font-size: 18px;
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
                &.genre{
             background-color: rgb(219, 220, 209);
             padding: 3px;
             border-radius: 5px;
                }          
            
            }
            }
        }
    }
}